body {
  font-family: Agency FB;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0%;
}

header img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: auto; /* Centers the image horizontally */

}
/*Styling Navigation Bar*/ 
nav {
  position: sticky;
  top: 80px; /* Adjust the top position to overlap the header slightly */
  z-index: 999; /* Ensure the navigation bar stays on top of other elements */
  background-color: #000102;
  color: white;
  padding:6px;
  text-align: center;
}
/*top: 0; ensures that they stick to the top of the page.
z-index: 1000; is added to ensure the header and nav are layered above other elements on the page.

/* Defaut bullet point rmv kore ,nah dileo hoy*/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*List er item modify korar jonno*/
nav li {
  display: inline-block;/* Make the list items display as inline-blocks to position them horizontally next to each other */
  margin: 0 50px; 
  /*The CSS property margin: 0 50px; sets the margins of an element to 0 pixels on the top and bottom, and 10 pixels on the left and right.*/
}
/*Styling inside items*/
nav a {
 color: white;
  text-decoration: none; /*removes default underline*/
  font-size: 22px;
  background-color: transparent; /* Set the default background color to transparent */
  padding: 10px; /* Add some padding to create some space around the link text */
  text-decoration: none; /* Remove the default underline from links */

}

nav a:hover {
  background-color: #ef4a23; /* Change the background color  when hovering */

  line-height: 45px;
  padding-left: 45px; 
  padding-right: 45px;  
  text-decoration: none; /* Remove the default underline from links */
  color: #f6f8fa; /* Set the text color to dark blue */
}

/* styling for the TryAgain page */


/* Center the content of the form and add some top margin */
form {
  text-align: center;
  margin-top: 20px;
}

button[name="btnGenerate"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px; /*For rounded Corners*/
  cursor: pointer;
}

button[name="btnGenerate"]:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

button[name="edit"] {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50; 
  color: #fff;
  border: none;
 border-radius: 5px;
 margin-left: 5px ;
 cursor: pointer;
 
}

button[name="edit"]:hover {
  background-color: #45a049; 
  transform: scale(1.1);
}

button[name="del"] {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #f44336; 
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 3px ;
  cursor: pointer;
}


button[name="del"]:hover {
  background-color: #d32f2f; 
  transform: scale(1.1);
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 3px solid #ddd;
}

td {
  padding: 15px;
  text-align: left;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

tr:hover {
  background-color: #d6d7d6; 
}

th {
  background-color: #000100;
  padding :15px;
  color: white;
  font-size: 22px;
}

button[name="logout"] {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #f44336; 
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 3px ;
  cursor: pointer;
}


